@page "/todo"
@using System.Collections.Generic;
@inject SimpleViewBag simpleViewBag

<h2>Todo list:</h2>
<div>
    <ul>
    @if (_items != null)
    {
        @foreach(var item in _items)
        {
            <li class="todo-item">@item <button class="btn btn-danger btn-sm" onclick="@(() => RemoveTodo(item))">Remove</button></li>
        }
    }
    </ul>
</div>

<div class="form-inline">
    <input type="text" class="form-control" id="new-item-txt" bind="@NewItem" />
    <button id="add-todo-btn" class="btn btn-primary" onclick="@AddTodo">Add</button>
</div>

@functions {
    private IEnumerable<string> _items;
    private string NewItem;

    protected override async Task OnInitAsync()
    {
        simpleViewBag.AddItem("First");
        _items = simpleViewBag.GetItems();
    }

    private void AddTodo()
    {
        simpleViewBag.AddItem(NewItem);
    }

    private void RemoveTodo(string item)
    {
        simpleViewBag.RemoveItem(item);
    }
}